.flex-container {
  background-color: green;
  flex-wrap: wrap;
  display: flex;
  padding: 30px;
  flex-direction: row;
}

.flex-item {
  background-color: red;
  padding: 25px;

  color: white;
  margin: 10px;
  border-radius: 10px;
}
